<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Easy_Butler.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Easy_Butler.My.MySettings>
            <setting name="DarkTheme" serializeAs="String">
                <value>off</value>
            </setting>
            <setting name="RememUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememFold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememOS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememVer" serializeAs="String">
                <value>False</value>
            </setting>
        </Easy_Butler.My.MySettings>
    </userSettings>
</configuration>